<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body bgcolor="UTF-8">
    <h1 style="font-family: monospace;" > Student Details </h1>

    <table>
   
        <tr>
            <th>Name</th>
            <th>Reg No</th>
            <th>Course</th>
            
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Email</th>
            <th>password</th>
           
            <th>Action</th>
        </tr>
        <%if(admin.length>0)
   { 
    admin.forEach(function(info) { %>
        <tr>
   
           <td><input name="stdName" value="<%=info.stdName%>" readonly></td>
           <td><input name="stdReg" value="<%=info.stdId%>" readonly></td>
           <td><input name="stdCourse" value="<%=info.stdCourse%>" readonly></td>
           <td><input name="stdGender" value="<%=info.stdGender%>" readonly></td>
           <td><input name="stdNumber" value="<%=info.stdNumber%>" readonly></td>
           <td><input name="stdAdd" value="<%=info.stdAdd%>" readonly></td>
           <td><input name="stdMailId" value="<%=info.stdMailId%>" readonly></td>
           <td><input name="stdPassword" value="<%=info.stdPassword%>" readonly></td>
          <td><a href='/delete?mail=<%=info.stdMailId%>'><i class="fa fa-trash" style='color: red;' aria-hidden="true"></i>Delete</a></td>
       </tr>
       <%})}%>
    </table>
    <br><br>
    
   <a class="button" href="adminStdReg.html" style="background-attachment: fixed;">Add Student</a>
    
</body>
</html>